main {
	position: absolute;
	height: 500px;
	left: 50%;
	transform: translateX(-50%);
}

#player {
	position: absolute;
	bottom: 0px;
	left: 0px;
}
#person {
	position: absolute;
	bottom: 0px;
	right: 50px;
}
#question-box {
	position: absolute;
	top: 0px;
}
.hidden {
	display: none;
}
.show {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 20%);
	background-color: #dedede;
	border: 3px solid gray;
	border-radius: 10%;
}
.invisible {
	visibility: hidden;
}
#question {
	text-align: center;
}
#answers {
	cursor: pointer;
	padding-left: 25px;
	margin-right: 25px;
	margin-bottom: 0;
}
#answers li:hover {
	background-color: #bebebe;
}
#continue {
	font-size: 12px;
	float: right;
	margin-top: 0;
}